{{ partial "header.html" . }}
<main>
    <article>
        	<div> <img src="../img/{{ .Params.img }}" height="100"></div>
		<header>
            <h1>{{.Title}}</h1>
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
		
        <div class="text-justify">
			{{ range .Data.Pages }}
			<div class="{{ .Params.align }}Float">{{.Content}}</div>
			{{end}}
		
		
			<!--{{ .Content }} -->
		</div>
    </article>
</main>
{{ partial "footer.html" . }}